<!--review.hbs-->

<div>
  <h3><a href="/movies/{{this.movieId}}/reviews/{{this._id}}">{{this.title}}</a></h3>
  <h2>{{this.movieTitle}}</h2>
  <p>{{this.description}}</p>
  <!--EDIT-->
  <p><a href="/reviews/{{this._id}}/edit">Edit</a></p>

  <!--DELETE-->
  <p>
     <form action="/reviews/{{this._id}}?_method=DELETE" method="POST">
       <button class="btn btn-primary" type="submit">Delete</button>
     </form>
  </p>
</div>