<!--review.hbs-->

<div>
  <h1><a href="/movies/{{movie.id}}/reviews/{{review.movieId}}">{{review.title}}</a> </h1>
  <h2>{{review.movieTitle}}</h2>
  <p>{{review.description}}</p>
  <p><a href="/reviews/{{review._id}}/edit">Edit</a></p>
  <p><form></form></p>
</div>