<!-- views/reviews-index.hbs -->
<h1 class="">Reviews</h1>
<div class="review-container">
  <div class="row">
    {{#each reviews}}
      <div class="col-sm-4">
        <div class="review-single">
          <h2><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>
          <small>{{this.movieTitle}}</small>
          <p>{{this.description}}</p>
          <p class="rating">Rating: {{this.rating}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
